<div class="detail-section">
    <div class="container-fluid">



        <!-- <p style="margin-top: 100px">{{ product.name }}</p>> -->

        <img src="{{ product.imageUrl }}" class="detail-img">

        <h3>{{ product.name }}</h3>
        <br>
        <div class="price" style="font-size: 1.8rem;">{{ product.unitPrice | currency: 'USD' }}</div>


        <h4>Description</h4>
        <p>{{ product.description }}</p>

        <hr>


        <div>
            <button style="margin: 1rem;" (click)="addToCart()" class="btn btn-primary btn-sm">Add to
                cart</button>

            <!-- item added to cart alert, with dynamically generated id's 
            so alert only appears on the product card added to cart -->
            <div style=" text-align: center;" class="alert alert-success" id="addToCartAlert" hidden>
                <strong>Added</strong>
                to cart!
            </div>
        </div>



        <div id="filler" style="height: 42px;"></div>


        <!-- link back to previous products page  -->
        <a href="javascript:history.back()">Back
            to Products</a>


    </div>

</div>