<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid" class="product-container">



            <!-- loop over the collection of products -->
            <div *ngFor="let tempProduct of products" class="column-m">


                <div class="product-box">
                    <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                    <h1>{{ tempProduct.name }}</h1>
                    <div class="price">{{ tempProduct.unitPrice | currency: 'USD' }}</div>
                    <a href="#" class="primary-btn">Add to cart</a>
                </div>

            </div>



        </div>
    </div>

</div>






















<!-- First draft - basic table view
    
    <table class="table">

    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let tempProduct of products">
            <td class="align-middle">
                <img src="{{ tempProduct.imageUrl }}" height="50" />
            </td>
            <td class="align-middle">{{ tempProduct.name }}</td>
            <td class="align-middle">{{ tempProduct.unitPrice | currency: 'USD' }}</td>
            <td class="align-middle">{{ tempProduct.unitsInStock }}</td>


        </tr>
    </tbody>
</table> -->




<!-- here we are accessing the products from the product-list.component.ts -->
<!-- <p *ngFor="let tempProduct of products">

    {{ tempProduct.name}}: {{tempProduct.unitPrice | currency: 'USD'}}

</p> -->