<div class="main-content">
    <div class="section-content section-content-30">
        <div class="container-fluid">

            <!-- display message if cart empty -->
            <div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12" role="alert">
                No items in cart!
            </div>

            <div *ngIf="cartItems.length > 0">
                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Product</th>
                        <th width="50%">Details</th>
                        <th width="30%">Totals</th>
                    </tr>

                    <tr *ngFor="let tempCartItem of cartItems">
                        <td>
                            <img src="{{ tempCartItem.imageUrl }}" class="img-responsive" width="150px" />
                        </td>
                        <td>
                            <p>{{ tempCartItem.name }}</p>
                            <p>{{ tempCartItem.unitPrice | currency: 'USD' }}</p>
                        </td>
                        <td>
                            <div class="items">
                                <label>Quantity:</label> {{ tempCartItem.quantity }}
                            </div>

                            <p class="mt-2">Subtotal:
                                {{ tempCartItem.quantity * tempCartItem.unitPrice | currency: 'USD' }}
                            </p>
                        </td>
                    </tr>

                    <!-- Total Quantity and Total Price -->

                    <tr *ngIf="totalQuantity != 0">
                        <td colspan="2"></td>
                        <td style="font-weight: bold">

                            <p>Total Quantity: {{ totalQuantity }}</p>
                            <p>Shipping: FREE</p>
                            <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
                        </td>
                    </tr>
                </table>
            </div>


        </div>
    </div>
</div>